<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>Length</key>
		<integer>60</integer>
		<key>Stages</key>
		<array>
			<dict>
				<key>Percent</key>
				<integer>100</integer>
				<key>What</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>5</integer>
						<key>Mole Type</key>
						<string>Single Mole</string>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>7</integer>
						<key>Mole Type</key>
						<string>Triangle Mole</string>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>3</integer>
						<key>Mole Type</key>
						<string>Triple Mole Vertical</string>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>3</integer>
						<key>Mole Type</key>
						<string>Triple Mole Horizontal</string>
					</dict>
					<dict>
						<key>Chance</key>
						<integer>3</integer>
						<key>Mole Type</key>
						<string>Triple Mole Diagonal</string>
					</dict>
				</array>
				<key>When</key>
				<array>
					<dict>
						<key>Beat</key>
						<integer>4</integer>
						<key>Chance</key>
						<string>5</string>
					</dict>
					<dict>
						<key>Beat</key>
						<integer>0</integer>
						<key>Chance</key>
						<string>1</string>
					</dict>
					<dict>
						<key>Beat</key>
						<integer>8</integer>
						<key>Chance</key>
						<string>10</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>2</key>
	<dict>
		<key>Length</key>
		<integer>30</integer>
		<key>Stages</key>
		<array>
			<dict>
				<key>Percent</key>
				<integer>100</integer>
				<key>What</key>
				<array>
					<dict>
						<key>Chance</key>
						<integer>5</integer>
						<key>Mole Type</key>
						<string>Square Mole</string>
					</dict>
				</array>
				<key>When</key>
				<array>
					<dict>
						<key>Beat</key>
						<integer>4</integer>
						<key>Chance</key>
						<string>5</string>
					</dict>
					<dict>
						<key>Beat</key>
						<integer>0</integer>
						<key>Chance</key>
						<string>1</string>
					</dict>
					<dict>
						<key>Beat</key>
						<integer>8</integer>
						<key>Chance</key>
						<string>10</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
