<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tap Mole</key>
	<dict>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Tap Mole</string>
			</dict>
		</array>
	</dict>
	<key>Bomb Mole</key>
	<dict>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Bomb Mole</string>
			</dict>
		</array>
	</dict>
	<key>Quick Tap Mole</key>
	<dict>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Quick Tap Mole</string>
			</dict>
		</array>
	</dict>
	<key>Two Tap Mole</key>
	<dict>
		<key>Exclusive</key>
		<true/>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Tap Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>-666,-666</string>
				<key>Time</key>
				<integer>2</integer>
				<key>Mole Type</key>
				<string>Tap Mole</string>
			</dict>
		</array>
	</dict>
	<key>Slash Mole Vertical</key>
	<dict>
		<key>Exclusive</key>
		<true/>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>0,1</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>0,2</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
		</array>
	</dict>
	<key>Slash Mole</key>
	<dict>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
		</array>
	</dict>
	<key>Quick Slash Mole</key>
	<dict>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Quick Slash Mole</string>
			</dict>
		</array>
	</dict>
	<key>Slash Mole Diagonal</key>
	<dict>
		<key>Exclusive</key>
		<true/>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>1,1</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>2,2</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
		</array>
	</dict>
	<key>Slash Mole Horizontal</key>
	<dict>
		<key>Exclusive</key>
		<true/>
		<key>Moles</key>
		<array>
			<dict>
				<key>Position</key>
				<string>0,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>1,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
			<dict>
				<key>Position</key>
				<string>2,0</string>
				<key>Time</key>
				<integer>0</integer>
				<key>Mole Type</key>
				<string>Slash Mole</string>
			</dict>
		</array>
	</dict>
	<key>Skip</key>
	<array/>
</dict>
</plist>
